@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rowdies:wght@700&display=swap');

#navbar {
    width: auto;
    background-color: #2C2C54;
}

#tagline {
    font-family: 'Rowdies', cursive;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: goldenrod;
}

#quote {
    font-family: 'Caveat', cursive;
    width: 80%;
    text-align: center;
    margin: auto;
    color: white; 
    font-size: 180%;
}

.icons-area {
    padding-top: 5px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.icons-area > h2 {
    font-family: 'Rowdies', cursive;
    font-size: 200%;
    color: #2C2C54;
    padding-top: 0;
}

.btn {
    height : 150px;
    width: 150px;
    margin: 0 30px;
    font-size: 400%;
    background-color: white;
    color: #2C2C54;
    border-width: 4px;
    border-radius: 50%;
    border-color: #2C2C54;
    transition: transform .3s;
}

.btn:hover {
    transform: scale(1.2);
}

.game-area {
    width: 90%;
    font-size: 300%;
    margin: auto;
    padding: 50px 50px;
    text-align: center;
}

.game-area span {
    padding: 0 10px;
    font-family: 'Rowdies', cursive;
    color: #2C2C54;
}

#versus {
    margin: 0 auto;
    text-align: center;
    color: goldenrod;
}

.score-area {
    margin: 1px auto;
    width: 70%;
    font-size: 1.7rem;
    text-align: center;
}

.score {
    display: inline-block;
    padding: 25px;
    font-family: 'Rowdies', cursive;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2C2C54;
}

#wins {
    color: green;
}

#losses {
    color: red;

}