@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rowdies:wght@700&display=swap');

#navbar {
    width: auto;
    background-color: slategray;
}

#tagline {
    font-family: 'Rowdies', cursive;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: goldenrod;
}

#quote {
    font-family: 'Caveat', cursive;
    width: 60%;
    text-align: center;
    margin: auto;
    color: white; 
    font-size: 180%;
}

.icons-area {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 15%;
    height : 60px;
    margin: 0 auto;
    display: inline-block;
    font-size: 200%;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: slategray;
}